@import "tailwindcss";

@theme {
  --color-primary: #006A4E;
  --color-secondary: #FFCD00;
  --color-tertiary: #D21034;
  --color-neutral: #1A1C1E;

  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
  --font-vietnam: 'Be Vietnam Pro', sans-serif;
}

* {
  color-scheme: light only;
}

body {
  font-family: var(--font-vietnam);
  background-color: #f5f5f5;
}